* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.app {
  text-align: center;
  clear: both;
  color: #000;
  font-size: 3rem;
  line-height: 1.27;
  margin: 0 auto 20px;
}

.m-b {
  margin-bottom: 20px !important;
}

